<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Ninja</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
    <h1>Hello ninjas!</h1>
    <img src="static/img/123.jpg">
    <style>
        body {
            color:violet;
        }
    </style>
    <ul>
        <li>
            <h2><a href="/about" style="color:violet;">About</a></h2>
        </li>
        <li>
            <h2><a href="/portfolio" style="color:violet;">Portfolio</a></h2>
        </li>
    </ul>
</body>
</html>