<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
    <h1>Here are my projects!</h1>
    <style>
        body {
            color:violet;
        }
    </style>
    <ul>
        <li>
            <h2><a href="https://github.com/anabanslo/new-fakebook" style="color:violet;">Fakebook GitHub</a></h2>
            <h2><a href="http://localhost:63342/hw-new-fakebook/index.html?_ijt=1ufn2pveg1o8v98o3c6nk00mkk" style="color:violet;">Fakebook Link</a></h2>
        </li>
        <li>
            <h2><a href="https://github.com/anabanslo/boogle" style="color:violet;">Boogle GitHub</a></h2>
            <h2><a href="http://localhost:63342/hw-boogle/index.html?_ijt=rfjm33o10qp0s0v8to09rdivkn" style="color:violet;">Boogle Link</a></h2>
        </li>
        <li>
            <h2><a href="https://github.com/anabanslo/hairsalon" style="color:violet;">Hair salon GitHub</a></h2>
            <h2><a href="http://localhost:63342/hw-hairsalon/index.html?_ijt=rfjm33o10qp0s0v8to09rdivkn" style="color:violet;">Hair salon Link</a></h2>
        </li>
    </ul>
</body>
</html>